
.conversation_panel {
    height: 65%;
    overflow: scroll;
}

.message_box {
    padding: 5px 15px 5px 15px;
    display: inline-block;
}

.message_box_you {
    border-radius: 10px 0px 10px 10px;
    border: 2px solid #80c020;
    float: right;
}

.message_box_them {
    border-radius: 0px 10px 10px 10px;
    border: 2px solid #e6e6e6;
}

.message_box_new {
    border: 2px solid #c0c020 !important;
}

.contact_button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none !important;
}

.contact_button_grey {
    background-color: white;
    color: black !important;
    border: 2px solid #e7e7e7;
}

.contact_button_grey:hover {
    background-color: #e7e7e7;
}

.contact_panel {
    text-align: center;
}

.panel_status {
    color: red;
}
