
.conversation_panel {
    height: 65%;
    overflow: scroll;
}

.message_box {
    padding: 5px 15px 5px 15px;
    display: inline-block;
}

.message_box_you {
    border-radius: 10px 0px 10px 10px;
    border: 2px solid #73AD21;
    float: right;
}

.message_box_them {
    border-radius: 0px 10px 10px 10px;
    border: 2px solid #e7e7e7;
}
